{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content%}
<div class="row justify-content-center">
    <div class="col-12 col-lg-5 mt-4">
        <div class="card border-info">
            <div class="card-header text-lg-center text-white bg-info">
                <h5>Reset password</h5>
            </div>
            <div class="card-body">
                <!-- {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.erros }}
                </div>
                {% endif %} -->
                <form action="." method="post"> {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div> -->
                    {% csrf_token %}

                    <input class="btn btn-info" type="submit" value="Send e-mail">

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}