{% extends "base.html" %}

{% block title %} Reset Confirm {% endblock %}

{% block content%}
<div class="row justify-content-center">
    <div class="col-12 col-lg-5 mt-4">
        <div class="card border-info">
            <div class="card-header text-lg-center text-white bg-info">
                <h5>Reset Confirm</h5>
            </div>
            <div class="card-body">
                {% if validlink %}
                    <form action="." method="post"> {% csrf_token %}
                        {{ form.as_p }}
                        <!-- <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                        </div> -->
                        {% csrf_token %}

                        <input class="btn btn-info" type="submit" value="Change my password">

                    </form>
                {% else %}
                    <p>The password reset link was invalid, possibley it has already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}