{% extends "base.html" %}

{% block title %} Change Your Password {% endblock %}

{% block content %}
<div class="row justify-content-center">

    <div class="col-12 col-lg-5 mt-4">
        <div class="card border-info">
            <div class="card-header text-lg-center text-white bg-info">
                <h5>Change Your Password</h5>
            </div>
            <div class="card-body">
                <!-- {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Username or Password didn't match. Please try again.
                </div>
                {% endif %} -->
                <form action="." method="post">
                    <!-- <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div> -->
                    {% if form.errors %}
                    <!-- <div class="alert alert-danger" role="alert"> -->
                        <!-- Error, Please try again.
                        {{form.errors}} -->
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <p>{{ error }}</p>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    <!-- </div> -->
                    {% endif %}
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input class="btn btn-info" type="submit" value="Change Password">

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
